# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
myenv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Logs
*.log

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/